attrs==20.3.0
decorator==4.4.2
importlib-metadata==3.4.0
iniconfig==1.1.1
jsonpath-ng==1.5.2
packaging==20.8
pkg-resources==0.0.0
pluggy==0.13.1
ply==3.11
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-mock==3.5.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
